body, html {
    background-color: black;
    height: 99%;
    color: white;
}

p {
    margin-bottom: 0;
}

hr {
    width: 13%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    font-family: Raleway, sans-serif;
    text-align: center;
    height: 680px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/img/forest.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 3em;
}

.footer {

}

.logo {

}